  <section class="page-title">
      <h1>Artist Page</h1>
  </section>

  <section class="user-info container">
      <img src="../../../assets/images/47a72da70b3f7a301273b06cac9ea615c8-06-bob-ross-painting.rsquare.w400.webp" alt="">
      <p class="info-username"><span class="section-title">Username:</span>Dumbi54</p>
      <section class="personal">
          <p><span class="section-title">Name:</span>Albus Dumbledore</p>
          <p><span class="section-title">Phone number:</span>0895969798</p>
          <p><span class="section-title">Email:</span>dumbi54Agmail.com</p>
          <a href="#" class="edit-info">Edit your info</a>
      </section>
      <p class="info-about"><span class="section-title">About me:</span>I am a profesional artist. I don't have any money but I think everybody is beneath me.</p>
      <p>This artist has <span class="number-products">5</span> products.</p>
      <a href="#list-of-products" class="see-products-button">Check artist's works</a>
  </section>