    <section class="page-title">
        <h1>Buy art or Sell yours</h1>
    </section>

    <section class="home-info">
        <section class="top">
            <div class="tips">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nobis voluptates mollitia laborum nostrum non cupiditate quia iure magnam numquam! Ab hic placeat tenetur voluptate vel aspernatur esse? Maxime, tenetur.</p>
                <button [class.show]="isHidden" (click)="showMore()">Show more</button>
            </div>
        </section>
        <section class="next" [class.show]="isVisible">
            <section class="pairs" [class.show]="isVisible">
                <div class="pair">
                    <div class="tips">
                        <h2>How to buy</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad cumque nemo nisi cum dolorem quaerat eaque! Maiores similique at dolorem quis tenetur minus officia sit nemo, voluptate, eaque praesentium! Magni.</p>
                    </div>
                    <div class="tips">
                        <h2>How to sell</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="pair">
                    <div class="tips">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad cumque nemo nisi cum dolorem quaerat eaque! Maiores similique at dolorem quis tenetur minus officia sit nemo, voluptate, eaque praesentium! Magni.</p>
                    </div>
                    <div class="tips">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum soluta a repellendus incidunt nemo, eaque officiis voluptatibus minima perspiciatis doloribus quae repudiandae iusto ea laboriosam et voluptatum, libero debitis.</p>
                    </div>
                </div>
                <div class="pair">
                    <div class="tips">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad cumque nemo nisi cum dolorem quaerat eaque! Maiores similique at dolorem quis tenetur minus officia sit nemo, voluptate, eaque praesentium! Magni.</p>
                    </div>
                    <div class="tips">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="pair">
                    <div class="tips">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad cumque nemo nisi cum dolorem quaerat eaque! Maiores similique at dolorem quis tenetur minus officia sit nemo, voluptate, eaque praesentium! Magni.</p>
                    </div>
                    <div class="tips">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
            </section>
        </section>
    </section>