<section class="no-offers">Sorry! There are no ofers for your product yet.</section>

<section class="list-of-offers container">
    <div class="single-offer">
        <p>Username offers $100 000 000</p>
        <a href="#" class="sell-button">Sell to Username</a>
    </div>
    <div class="single-offer">
        <p>Username offers $10</p>
        <a href="#" class="sell-button">Sell to Username</a>
    </div>
    <div class="single-offer">
        <p>Username offers $1</p>
        <a href="#" class="sell-button">Sell to Username</a>
    </div>
</section>