.no-offers {
    margin-top: 20px;
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-align: center;
    text-shadow: 0px 0px 2px white,
    0px 0px 4px white,
    0px 0px 8px white,
    0px 0px 16px white,
    0px 0px 32px white,
    0px 0px 64px white;
}

.list-of-offers {
    width: 450px;
    margin-top: 20px;
}

.single-offer {
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.single-offer p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.sell-button {
    padding: 8px 16px;
    background-color: #5cb85c;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.sell-button:hover {
    background-color: #4cae4c;
}

.single-offer:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: default
}

.list-of-offers:hover .single-offer:not(:hover){
    background-color: #ececec;
    opacity: 0.6;
}