<section class="user-info container">
    <img src={{user?.imageUrl}} alt="">
    <p class="info-username"><span class="section-title">Username:</span>{{user?.username}}</p>
    <section class="personal">
        <p><span class="section-title">Name:</span>{{user?.name}}</p>
        <p><span class="section-title">Phone number:</span>{{user?.phoneNumber}}</p>
        <p><span class="section-title">Email:</span>{{user?.email}}</p>
    </section>
    <p class="info-about"><span class="section-title">About me:</span>{{user?.about}}</p>
    <p>This artist has <span class="number-products">5</span> products.</p>
    <a href="#list-of-products" class="see-products-button">Check artist's works</a>
</section>