<section class="user-info container">
    <img src="../../../assets/images/47a72da70b3f7a301273b06cac9ea615c8-06-bob-ross-painting.rsquare.w400.webp" alt="">
    <p class="info-username"><span class="section-title">Username:</span>{{user?.username}}</p>
    <section class="personal">
        <p><span class="section-title">Name:</span>{{user?.name}}</p>
        <p><span class="section-title">Phone number:</span>{{user?.phoneNumber}}</p>
        <p><span class="section-title">Email:</span>{{user?.email}}</p>
        <a href="#" class="edit-info">Edit your info</a>
    </section>
    <p class="info-about"><span class="section-title">About me:</span>{{user?.about}}</p>
    <p>This artist has <span class="number-products">5</span> products.</p>
    <a href="#list-of-products" class="see-products-button">Check artist's works</a>
</section>