<header>

    <app-rotating-image 
    [sideClass]="'left'"
    [imageSrc]="'../../../assets/images/deathlyhallowslogo-650x650.jpg'"
    />

    <nav>
        <ul>
            <li>
                <a href="/products" >The Display</a>
            </li>
            <li>
                <a href="/login">Login &#8612;</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/create">Sell your art!</a>
            </li>
            <li>
                <a href="/profile">User profile</a>
            </li>
            <li>
                <a href="/logout">Logout &#8614;</a>
            </li>
        </ul>
    </nav>

    <app-rotating-image 
    [sideClass]="'right'"
    [imageSrc]="'../../../assets/images/10308940.png'"
    />
    
</header>