<header>

    <app-rotating-image 
    [sideClass]="'left'"
    [imageSrc]="'../../../assets/images/deathlyhallowslogo-650x650.jpg'"
    />

    <nav>
        <ul>
            <li>
                <a routerLink="/products" routerLinkActive="selected-page">The Display</a>
            </li>
            <li *ngIf="!userService.isLoggedIn()">
                <a routerLink="/register" routerLinkActive="selected-page">Register</a>
            </li>
            <li *ngIf="!userService.isLoggedIn()">
                <a routerLink="/login" routerLinkActive="selected-page">Login &#8612;</a>
            </li>
            <li *ngIf="userService.isLoggedIn()">
                <a routerLink="/create" routerLinkActive="selected-page">Sell your art!</a>
            </li>
            <li *ngIf="userService.isLoggedIn()">
                <a routerLink="/your-profile" routerLinkActive="selected-page">Your profile</a>
            </li>
            <li *ngIf="userService.isLoggedIn()">
                <a (click)="logout()" class="logout-link">Logout &#8614;</a>
            </li>
        </ul>
    </nav>

    <app-rotating-image 
    [sideClass]="'right'"
    [imageSrc]="'../../../assets/images/10308940.png'"
    />
    
</header>