<div class="card">
    <p class="not-enough">There are <span class="number-offers">0</span> offers for this product</p>
    <p class="enough">There are <span class="number-offers">3</span> offers for this product</p>
    <section class="product-info">
        <div class="card-top-border"></div>
        <p class="product-title">{{product.productName}}</p>
        <p class="product-type">Type: {{product.category}}</p>
    </section>
    <div class="image-section">
        <p>SOLD</p>
        <img src={{product.imageUrl}} alt="" class="hover-image">
    </div>
    <p class="not-enough">Someone has offered more than $3</p>
    <p class="enough">You have the best offer!</p>
    <a href="#" class="more-info">More info about the product and the artist</a>
    <a href="#" class="more-info">See OFFERS, EDIT or DELETE your product</a>
    <input type="number" class="offer" value="4">
    <section class="make-offer">
        <a href="#" class="offer-button">Make offer for $4</a>
        <a href="#" class="buy-now-button">Buy NOW for $15</a>
    </section>
</div>