<div class="card" *ngIf="product">
    <section class="offer-section" *ngIf="!product.sold && isOwner">
        <p class="not-enough" *ngIf="!offersCount">There are <span class="number-offers">0</span> offers for this product</p>
        <p class="enough" *ngIf="offersCount">There are <span class="number-offers">{{offersCount}}</span> offers for this product</p>
    </section>
    <section class="product-info">
        <div class="card-top-border"></div>
        <p class="product-title">{{product.productName}}</p>
        <p class="product-type">Type: {{product.category}}</p>
    </section>
    <div class="image-section">
        <p *ngIf="product.sold">SOLD</p>
        <img src={{product.imageUrl}} alt="" class="hover-image">
    </div>
    <section class="isEnough" *ngIf="!isOwner && userService.isLoggedIn() && !product.sold && userOfferForThisProduct > 0">
        <p class="not-enough" *ngIf="!hasBestOffer">${{userOfferForThisProduct}} is not the best offer</p>
        <p class="enough" *ngIf="hasBestOffer">You have the best offer!</p>
    </section>
    <a [routerLink]="'/products/' + product._id + '/details'" class="more-info" *ngIf="!isOwner">More info about the product and the artist</a>
    <a [routerLink]="'/products/' + product._id + '/details'" class="more-info" *ngIf="isOwner">See OFFERS, EDIT or DELETE your product</a>
    <input type="number" class="offer" [(ngModel)]="currentOffer" [min]="userOfferForThisProduct + 1" [max]="product.buyPrice" *ngIf="!product.sold && userService.isLoggedIn() && !isOwner">
    <section class="make-offer" *ngIf="!product.sold && userService.isLoggedIn() && !isOwner">
        <a (click)="offer()" class="offer-button" [innerHTML]="'Make offer for $' + currentOffer" [ngClass]="{'disabled': currentOffer === product.buyPrice}"></a>
        <a class="buy-now-button">Buy NOW for ${{product.buyPrice}}</a>
    </section>
</div>