<aside class="side-menu" [style.visibility]="menuIsVisible? 'visible' : 'hidden'">
    <div class="menu-section">
        <div class="menu-box">1</div>
        <span>Paintings and Illustrations</span>
    </div>
    <div class="menu-section">
        <div class="menu-box">2</div>
        <span>Pottery</span>
    </div>
    <div class="menu-section">
        <div class="menu-box">3</div>
        <span>Textile Arts</span>
    </div>
    <div class="menu-section">
        <div class="menu-box">4</div>
        <span>Wood Carving and Glass Art</span>
    </div>
    <div class="menu-section">
        <div class="menu-box">5</div>
        <span>Jewelry and Decorations</span>
    </div>
</aside>