.forms {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.forms.visible {
    opacity: 1;
}


.form-container {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-shadow: 5px 5px 10px black;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title p {
margin-top: 5px;
font-size: 20px;
font-weight: bold;
color: green;;
}

.styled-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

input[type="email"],
textarea,
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus {
    border-color: #4CAF50;
    outline: none;
}

.not-registered {
    text-align: center;
    color: #17721a;
    font-weight: bold;
}

.not-registered:hover {
    color: #0c4b0e;
}