<section class="forms container">
    <section class="form-container">
        <form class="styled-form">

            <div class="form-title">
                <p>REGISTER</p>
            </div>
          
          <!-- Text Input -->
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Name">

          <label for="phone-number">Phone number:</label>
          <input type="text" id="phone-number" name="phone-number" placeholder="Phone number">

          <label for="email">Email:</label>
          <input type="text" id="email" name="email" placeholder="Email">
          
          <!-- Text Area -->
          <label for="about">About you:</label>
          <textarea id="about" name="about" placeholder="Who are you?"></textarea>
          
          <!-- File Upload Button -->
          <label for="file-upload" class="upload-button">Upload Profile Picture</label>
          <input type="file" id="file-upload" name="file-upload" accept="image/*">
          
          <!-- Image Preview Area -->
          <div class="image-preview" id="image-preview">
            <p>No image selected</p>
          </div>
      
        </form>
      </section>
</section>